.cardsContainer {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  justify-content: center;
  width: 95%;
}

.card {
  width: 15rem;
  text-align: center;
  margin: 1rem;
  border: 0;
  transition: 0.5s;
  cursor: pointer;
}

.card:hover {
    transform: scale(1.1);
}

@media (max-width: 730px) {
  .cardsContainer {
    width: 100%;
  }
}